<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>

        <div class="row">


            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Personal Portfolio Using Angular8</h4>
                            <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3 </h5>
                            <a href="https://github.com/hbksid/Portfolio"
                                class="btn btn-primary stretched-link">GithubLink
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Packet Analyst(Wireshark)</h4>
                            <h5 class="card-text"><b>Technology :</b> C </h5>
                            <a href="https://github.com/hbksid/Packet-Analyst-Win32"
                                class="btn btn-primary stretched-link">GithubLink
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Bridge</h4>
                            <h5 class="card-text"><b>Technology :</b> Android Application for Chat, Call and MultiChat </h5>
                            <a href="https://github.com/hbksid/Advanced-Computer-Networks"
                                class="btn btn-primary stretched-link">GithubLink
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Object Tracking</h4>
                            <h5 class="card-text"><b>Technology :</b> Computer Vision </h5>
                            <a href="https://github.com/hbksid/OpenCV"
                                class="btn btn-primary stretched-link">GithubLink
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Telecommunication Network</h4>
                            <h5 class="card-text"><b>Technology :</b> Algorithms </h5>
                            <a href="https://github.com/hbksid/Algorithmic-Aspects-of-Telecommunication-Network"
                                class="btn btn-primary stretched-link">GithubLink
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
