<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Highlights</div>
                        <ul>
                            <li>Experience of working in <b>Agile & WaterFall</b> environment with <b>Continuous Integration and Continuous Deployment (CICD)</b> approach.</li>
                            <li>Almost 3 years of experience in Full stack development of <b>web</b> and <b>batch application</b>.</li>
                            <li>Used different tools for build configuration, resource management and bug tracking.</li>
                            <li>Experience of task management through <b>Git & Clear Case</b>.</li>
                            <li>Scoping of development & test estimation, planning, tracking, execution and final delivery.</li>
                            <li>Experience in Pair Programming, Test Driven Development and Agile Methodologies Work Experience with <b>SCRUM</b>.
                            <li>Hands-on experience with Web/Application servers (<b>Tomcat</b>, <b>Web Sphere</b>).</li>
                            <li>Worked with Relational Database Management Systems including <b>Oracle</b> and <b>SQL Server</b> and have worked extensively on JDBC and Hibernate to connect to and access various remote database.</li>
                            <li>Experience in using <b>Maven</b> and <b>Gradle</b> for build automation.</li>
                            <li>Expertise in Unit testing with Junit and basic knowledge with <b>Mockito</b> and good with <b>Postman</b>.</li>
                            <li>Experience in Front-end Web Application Development experience with technologies using <b>HTML 5</b>, <b>CSS3</b>, <b>JAVASCRIPT</b>, <b>Angular7</b> and <b>Bootstrap</b>.</li>
                            <li>Worked with ticketing tools like <b>JIRA</b> and <b>Rally</b>.</li>
                        </ul>
                        <div class="h4 mt-0 title">Technologies</div>
                        <ul>
                            <li>Java, Java Script ES6, HTML5, CSS3, JQuery,Ajax,Angular</li>
                        </ul>
                        <div class="h4 mt-0 title">Operating Systems</div>
                        <ul>
                            <li>Windows, MAC OS, Linux, Android</li>
                        </ul>
                        <div class="h4 mt-0 title">Tools</div>
                        <ul>
                            <li>IBM RAD, IntelliJ, Eclipse, Visual Studio, VS Code</li>
                            <li>Jenkins, Clear Case, TFS, GIT, OpenText, Rally and more</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>